{
  "processors": [
    "stylelint-processor-styled-components"
  ],
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-styled-components"
  ],
  "plugins": [
    "stylelint-order"
  ],
  "rules": {
      "order/order": [
        "custom-properties",
        "declarations"
      ],
      "order/properties-order": [
        "display",
        "flex-direction",
        "justify-content",
        "align-items",
        "list-style",
        "overflow",
        "overflow-x",
        "overflow-y",
        "position",
        "top",
        "right",
        "bottom",
        "left",
        "width",
        "height",
        "margin",
        "padding",
        "border",
        "border-radius",
        "background",
        "background-color",
        "font",
        "font-size",
        "font-weight",
        "color",
        "text-decoration",
        "text-align",
        "vertical-align",
        "transition",
        "animation",
        "content"
      ]
  }
}